body {
    text-align: center;
margin: 0;padding-top: 1000px
}

#welcome {


    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
   background: linear-gradient(#19a1e6 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

#bio {
    padding: 50px;
    text-align: center;

}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.menu{
    list-style: none;
   top: 10px;
    right: 10px;
     z-index: 10;
    cursor: pointer;
    position: absolute;
    
}
.links{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    color: white;
    font-family: cursive;
    font-size: 20px;
        
}
.links:hover{
    background-color: red;
}
img{
    width:300px;
    height:300px;
}